.kinect {
  border-top-width: 1px;
  border-top-style: solid;
}

.kinect .titlebar {
  height: 40px;
}

.kinect .titlebar h1 {
  float: left;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.kinect .titlebar button {
  float: right;
  margin-top: 5px;
}
